body { 
    background-color: #2b2e31;
    color: #f8f9fa; 
    font-family: 'Segoe UI', sans-serif;
}

h2, h3 { 
    font-weight: 700; 
    color: #ffcb05; 
    text-shadow: 2px 2px #3b4cca;
}

.poke-card { 
    background: #ffffff; 
    color: #333; 
    border: none; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.fav-img { 
    width: 120px; 
    height: 120px; 
    transition: transform 0.3s;
}

.card:hover .fav-img { 
    transform: scale(1.2); 
}


.form-control { border-radius: 20px 0 0 20px; border: none; }
#btnBuscar { border-radius: 0 20px 20px 0; background-color: #3b4cca; border: none; }
#btnFavoritos, #btnEliminarTodos { border-radius: 20px; font-weight: bold; }